# App Config
CORS_ALLOW_ORIGINS=localhost:3000

# Database Config
DB_URL=jdbc:postgresql://localhost:5432/vibe_db
DB_USERNAME=postgres
DB_PASSWORD=root

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# MinIO Config
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_ENDPOINT=http://localhost:9000
MINIO_REGION=us-east-1
MINIO_BUCKET_NAME=vibe-bucket

MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Security Config
JWT_SECRET_KEY=your_jwt_secret_key_here

# Storage Config
DB_DATA=./data/postgres
REDIS_DATA=./data/redis
MINIO_DATA=./data/minio

DATA_DIR=./data
