# App Config
CORS_ALLOW_ORIGINS=localhost:3000

# Database Config
DB_URL=jdbc:postgresql://localhost:5432/vibe_db
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=vibe_db
DB_PORT=5432

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# MinIO Config
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin
MINIO_ENDPOINT=http://localhost:9000
MINIO_REGION=us-east-1
MINIO_BUCKET_NAME=vibe-bucket
MINIO_ALLOWED_ORIGINS=http://localhost:3000
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Server
SERVER_PORT=8080

# Security Config
JWT_SECRET_KEY=91f6b3d88bdd0c39fa408b0ee613cdd4e83c774c9440e96c3107e1dc8604a4c8

# Storage Config
DB_DATA=./data/postgres
REDIS_DATA=./data/redis
MINIO_DATA=./data/minio

DATA_DIR=./data
