server:
  port: 8080
  servlet:
    context-path: /api/v1/
spring:
  config:
    import: "optional:file:app.env[.properties]"
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/vibedb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:root}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate