server:
  port: 8080
spring:
  config:
    import: "optional:file:app.env[.properties]"
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/vibedb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:root}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
  redis:
    host: localhost
    port: 6379

security:
  jwt:
    secret-key: "91f6b3d88bdd0c39fa408b0ee613cdd4e83c774c9440e96c3107e1dc8604a4c8"
    issuer: "VibeApp"
    expiration-ms: 3600
    refresh-expiration-ms: 604800
